.container
{
    text-align: center;
    font-size: larger;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
table{
    margin-left: auto;
    margin-right: auto;
    border:2px solid black;
    background-color:brown;
}
button:not(#res){
    width: 60px;
    height: 30px;
    margin: 5px;
    font-size: medium;
    font-weight: bold;
    border-radius: 3px;
}
#display
{
	text-align: right;
    width: 294px;
    height: 63px;
    border: solid black 2px;
    margin-bottom: 3px;;
    background-color: darkgrey;
    font-size:x-large;
    font-weight: bold;
}
body
{
    background: url("jj.jpg") no-repeat;
}
h1{
    color: darkkhaki;
}
#res
{    width: 60px;
    height: 30px;
    font-size: medium;
    font-weight: bold;
    border-radius: 35px;
}
